html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

p{
  text-shadow: 0 1px 12px #e8e8e8b3;
  text-align: center;
}


input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background: linear-gradient(#e9e2df5c 40%, #cb4740c7);
  background-repeat: no-repeat;
  box-shadow: 0 2px 15px -2px #e8e8e8b3;
  transition: all 3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  background: radial-gradient(#898686 90%, #2f2f2e 5%);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: radial-gradient(#cb504092 50%, #898686 10%);
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}