html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background: linear-gradient(#e8e8e830 40%, rgba(50, 100, 50, 5));
  background-repeat: no-repeat;
  box-shadow: 0 2px 15px -2px #e8e8e8b3;
  transition: all 3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  background: radial-gradient(#e8e8e860 90%, #2f2f2e 5%);
  cursor: ew-resize;
  box-shadow: 
  0 0px 15px 0px rgba(100, 100, 100, 90),
  0 2px 15px 0px rgba(50, 100, 50, 5);
}

input[type="range"]::-webkit-slider-thumb:active {
  background: radial-gradient(rgba(50, 100, 50, 1) , #e8e8e860 60%);
  
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}